html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: sans-serif;
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}




/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}




/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

sub,
sup {

    font-size: 45%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

sup {
    top: -0.8em;

}

/* ---------------------------------- Styles ---------------------------------- */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    image-rendering: -webkit-optimize-contrast;
}

div,
img{
    position: absolute;
}

#container {
    width: 300px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
    background: #d9f6fa;
    color: white;
    border: 1px solid #808080;
}

#tsparticles {
    left: 0px;
}

.tsparticles-canvas-el {
    width: 300px !important;
    height: 250px !important;
}

:root{
    --txt_bgColor: #f3f3f3;
    --txt_bgYellow: #fef200;
}

/* ---------------------------------- BACKGROUND ELEMENTS ---------------------------------- */


#bg {
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    background-color: #d5d5d5;
}

/* ---------------------------------- banner Elements ---------------------------------- */

.txt_mask{
    width: 100%;
    height: 100%;
}

.txtBg{
    width: 100%;
    height: 100%;
    background-color:var(--txt_bgYellow);
}

#txt1_container{
    width: 186px;
    height: 28px;
    top: 16px;
    left: 20px;
    background-color:var(--txt_bgColor);
}

#txt1{
    width: 167px;
    height: 26px;
    top: 3px;
    left: 9px;
    background: url('txt1.svg') no-repeat;
    background-size: contain;
}

#txt2_container{
    width: 210px;
    height: 28px;
    top: 46px;
    left: 20px;
    background-color:var(--txt_bgColor);
}

#txt2{
    width: 190px;
    height: 21px;
    top: 3px;
    left: 11px;
    background: url('txt2.svg') no-repeat;
    background-size: contain;
}

#txt3_container{
    width: 207px;
    height: 28px;
    top: 77px;
    left: 20px;
    background-color:var(--txt_bgColor);
}

#txt3{
    width: 192px;
    height: 27px;
    top: 3px;
    left: 11px;
    background: url('txt3.svg') no-repeat;
    background-size: contain;
}

#txt4_container{
    width: 200px;
    height: 28px;
    top: 109px;
    left: 20px;
    background-color:var(--txt_bgColor);
}

#txt4{
    width: 183px;
    height: 20px;
    top: 2px;
    left: 10px;
    background: url('txt4.svg') no-repeat;
    background-size: contain;
}

#txt5_container{
    width: 144px;
    height: 28px;
    top: 141px;
    left: 20px;
    background-color:var(--txt_bgColor);
}

#txt5{
    width: 124px;
    height: 26px;
    top: 2px;
    left: 10px;
    background: url('txt5.svg') no-repeat;
    background-size: contain;
}

#txt6_container{
    width: 223px;
    height: 28px;
    top: 172px;
    left: 20px;
    background-color:var(--txt_bgColor);
}

#txt6{
    width: 204px;
    height: 26px;
    top: 2px;
    left: 10px;
    background: url('txt6.svg') no-repeat;
    background-size: contain;
}

#logo_container{
    width: 215px;
    height: 51px;
    top: 95px;
    left: 40px;
    /* background-color: rgba(0, 255, 255, 0.137); */
}

#logo{
    width: 207px;
    height: 27px;
    background: url('logo_text1.svg') no-repeat;
    background-size: contain;
}

#logo_txt_container{
    width: 185px;
    height: 21px;
    top: 28px;
    left: 30px;
    background-color:var(--txt_bgColor);
}

#logo_txt{
    width: 160px;
    height: 13px;
    top: 5px;
    left: 13px;
    background: url('logo_text2.svg') no-repeat;
    background-size: contain;
}



.shadow{
  filter: drop-shadow(-2px 3px 0px rgba(89, 44, 130, 0.80));  
}


/* ---------------------------------- END FRAME ELEMENTS ---------------------------------- */


#cta {
    position: absolute;
    bottom: 44px;
    left: 200px;
    width: 80px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(204, 204, 204, 0), rgba(255, 255, 255, 0.3), rgba(204, 204, 204, 0));
    background-position: -111px 0;
    z-index: 2;
}

#copy_cta {
    position: relative;
    width: 64px;
    height: 9px;
    top: 0px;
/*    line-height: 1.5;*/
    background-image: url(cta_text.svg);
    background-size: 100% 100%;
}

/*------------------ JS Switching Classes ------------------- */
.hidden {
    display: none;
}

.visible {
    display: inline-block;
}